.bg-home-image {
  background: linear-gradient(260deg, #38247600 0%, #2c2149) 100%,
    url("../../images//bg-home-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.home-title {
  font-size: 63px;
}
.text-orange {
  color: rgb(255, 106, 0);
  font-size: 18px;
}

.orange-btn button {
  background: rgb(255, 106, 0);
  border-radius: 10px;
  transition: all ease-in 0.2s;
}
.orange-btn button:hover {
  background: #2c2149;
  transform: translateY(-7px);
}

@media only screen and (max-width: 578px) {
  .home-title {
    font-size: 38px;
  }
  .text-orange {
    font-size: 10px;
  }
}
