.workHome-title {
  font-size: 46px;
  color: #392476;
}
.work-info {
  margin-top: 70px;
}
.work-right-icon {
  font-size: 34px;
  margin-left: 40px;
  margin-top: 10px;
  text-align: right;
}
.workHome-into-number {
  color: #fff;
  background-color: rgb(255, 106, 0);
  font-size: 25px;
  padding: 16px;
  font-weight: bold;
}
.workHome-into-title h4 {
  color: #392476;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.workAbout-info p {
  color: #7a7a7ae0;
  margin-bottom: 5px;
}

@media only screen and (max-width: 578px) {
  .workHome-title {
    font-size: 32px;
  }
  .work-info {
    margin-top: 30px;
  }
  .info {
    margin-top: 50px;
  }
}
